html{padding:0px;margin:0px;color:#ccc;}
body{cursor:default;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;font-size:80%;font-family:Arial;padding:0px;text-align:center;background:#000;background-image:url(images/HomeZw.png?v=1);background-repeat:no-repeat;background-position:-4px -15px;/*background-size:860px 1031px;*/height:848px;width:486px;padding-top:0px;margin:0 auto;}
h2{font-size:36px;}
a:link{text-decoration:none;color:#ccc}
a:visited{text-decoration:none;color:#ccc}
a:hover{text-decoration:none;color:#ccc;}
a:active{text-decoration:none;color:#ccc}
input[type=checkbox]{visibility:hidden;}
input[type=submit]{color:#ccc;background-color:#555;display:inline-block;margin-bottom:0;cursor:pointer;border:1px solid transparent; border-radius:2em;padding:5px;margin:3px 0px -2px 4px;font-size:18px;-webkit-appearance:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;width:80px;height:80px;font-size:28px;margin:4px;/*background:#888;background:linear-gradient(to bottom, #eee, #999);background-repeat:no-repeat;box-shadow:0px 0px 0px 1px #999 inset;border-radius:36px;display:inline-block;text-align:center;cursor:pointer;*/}
select{-webkit-appearance:none;border:0; margin-top:0px;cursor:pointer;}
.css-select{-moz-appearance:none;background:none;padding:0px 5px 0px 2px;}
@-moz-document url-prefix() { .css-select-moz{padding:0px 5px 0px 2px;}} 
.abutton{border:0px solid #aaa;display:inline-block;padding:9px 0px;text-decoration:none;margin:0;width:62px;box-shadow:0px 0px 0px 1px #999 inset;border-radius:6px;margin-bottom:6px;cursor:pointer;}
.balloon{position:absolute;top:0px;left:80px;width:365px;z-index:10000 !important;border-radius:10px;padding:20px;font-size:150%;font-weight:800;background:#999;}
.box{position:absolute;left:0px;width:80px;background:#222;border-radius:10px;padding-top:10px; border:thin #666}
.box2{position:absolute;width:55px;padding:0px;}
.right{text-align:right;}
.dimmer{position:absolute;top:0px;left:0px;height:735px;width:390px;padding:50px;background:#111;z-index:1000;}
.red{position:absolute;background:rgba(255,50,50,0.6);border-radius:7px; padding:1px 2px 1px 2px;}
.grey{position:absolute;/*background:rgba(100,100,100,0.6);border-radius:7px; padding:2px 2px 1px 2px;*/}
.tmpbg{position:absolute;background-repeat:no-repeat;border-radius:6px;z-index:-1;}
.stamp{position:absolute;width:38px;/*background:#444;color:#CCC;border-radius:4px;padding:0px 3px 0px 3px;font-size:14px;padding:0px;*/}
.secured{position:absolute;background:repeating-linear-gradient(135deg,rgba(255,0,0,0),rgba(255,0,0,0) 7px,rgba(255,0,0,0) 8px,rgba(255,0,0,0.6) 15px);z-index:-1000;}
.motion{position:absolute;background:rgba(255,0,0,0.4);z-index:-100;}
.motionr{position:absolute;background:rgba(255,0,0,0.8);z-index:-100;}

/* == iPhone 5 and 5S == Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {

}

/* == iPhone 5 and 5S == Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
}

/* == iPhone 5 and 5S == Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {

}

/* == iPad 1 and 2 == Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {

}

/* == iPad 1 and 2 == Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {

}

/* == iPad 1 and 2 == Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {

}

/* == Galaxy S4 == Portrait and Landscape */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
	
}

/* == Galaxy S4 == Portrait */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {

}

/* == Galaxy S4 == Landscape */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {

}

/* == Galaxy Tab 10.1 == Portrait and Landscape */
@media (min-device-width: 800px) and (max-device-width: 1280px) {

}

/* == Galaxy Tab 10.1 == Portrait */
@media (max-device-width: 800px) and (orientation: portrait) { 

}

/* == Galaxy Tab 10.1 == Landscape */
@media (max-device-width: 1280px) and (orientation: landscape) { 

}
