html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;width:98%}
body{margin:10px;background:#111;color:#999;98%}
a{background:transparent;text-decoration:none;color:inherit;}
a:hover{outline:0;color:#fff;}
img{border:0;max-width:100%;font-size:40px!important;}
.isotope{height:100%;min-height:80%;margin:0 auto;}
.isotope:after{content:'';display:block;clear:both;}
.navbar{position:static;top:0px;left:0px;float:left;min-height:38px;padding:0px;z-index:1;max-width:98%}
.clear{clear:both;}
.btn{color:#ccc;background-color:#444;display:inline-block;margin-bottom:0;cursor:pointer;border:1px solid transparent; border-radius:2em;padding:0.4em 0.8em 0.4em 0.8em;margin:0.1em;font-size:17px;-webkit-appearance:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.btn:hover{color:#fff;}
.grid{position:relative;clear:both;width:calc(100%-20px);}
.grid:after {content: '';display: block;clear: both;}
.element-item {position:relative;float:left;width:	247px;height:370px;}
h1{color:#fff;margin:0px;padding:0px}
h2{color:#ccc;}
h3{color:#FFF; background-color:#111; text-align:center; padding:75px 0px 75px 0px;}
h4{color:#F0F0F0;display: inline;}
.map{margin-top:-10px;}
.button {display: inline-block;padding: 0.5em 1.0em;margin-bottom: 10px;background: #EEE;border: none;border-radius: 45px;background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  color: #222;font-family: sans-serif;font-size: 16px;text-shadow: 0 1px white;cursor: pointer;}
.buttongenre {border-radius: 40px;width:160px;}
.button:hover {background-color: #8CF;text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);color: #222;}
.button:active,
.button.is-checked {background-color: #444;}
.button.is-checked {color: white;text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);}
.button:active {box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);}
.button-group {position:relative;float:right;padding:10px;}
.button-group:after {content: '';display: block;clear: both;}
.button-group .button {float: left;border-radius: 40px;margin-left: 0;margin-right: 1px;}
input[type="text"] {font-size: 22px;border-radius: 40px;padding-left:10px;}
input[type=submit]{color:#ccc;background-color:#555;display:inline-block;margin-bottom:0;cursor:pointer;border:1px solid transparent; border-radius:2em;padding:5px;margin:3px 0px -2px 4px;font-size:18px;-webkit-appearance:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;width:80px;height:80px;font-size:28px;margin:4px;/*background:#888;background:linear-gradient(to bottom, #eee, #999);background-repeat:no-repeat;box-shadow:0px 0px 0px 1px #999 inset;border-radius:36px;display:inline-block;text-align:center;cursor:pointer;*/}

.quicksearch{width:200px;}
select {font-size: 18px;padding:0px;-webkit-appearance: none;-moz-appearance: none;appearance: none;}
.blacklayer{position:fixed;top:0px;left:0px;width:100%;height:100%;background:rgba(0,0,0,0.6);z-index:10;overflow-y:auto}
.genres{position:fixed;top:0px;left:0px;padding:10px 0px 0px 350px;width:100%;height:100%;background:rgba(0,0,0,0.6);z-index:10000;overflow-y:auto;}
.buttons{position:absolute; bottom:0px; left:0px; width:295px; max-height:50px; overflow:visible !important}
.filters{z-index:1000 !important}
.file{position:absolute; top:420px; left:0px; margin:4px; max-height:50px;color:#000; font-size:20px; font-weight:600;}
.information{position:absolute;top:0px;left:0px;width:100%;background:rgba(0,0,0,0.9); z-index:100;overflow-y:auto; }
.poster{position:relative;float:left;width:29%;min-width:400px;max-width:400px;}
.info{position:relative;float:left;margin:0px 5px 0px 5px;width:47%;min-width:350px;max-width:650px;min-height:calc(100% + 1px);overflow:visible}
.infoactors{position:relative;float:left;/*padding-top:40px;*/width:23%;margin-right:5px;min-width:250px;max-width:320px;min-height:100%;overflow:auto}
.serie{min-height:300px;}
.infoserie{position:absolute;top:136px;left:0px;margin:0px 2px 2px 7px;overflow:hidden;}
.gezien{position:absolute;top:0px;left:0px;z-index:1;width:25px;}
.hidden{display:none;}
.rated{position:absolute; top:0px;right:0px;background:rgba(128,128,128,0.78); z-index:1;}
.item{display: block; padding-bottom:7px;}
.btnb{color:#ccc;background-color:#444;display:inline-block;margin-bottom:0;border:1px solid transparent; border-radius:10px;padding:8px;margin:0px -4px 4px 4px;font-size:18px;-webkit-appearance:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.active{color:#fff;}
form, table {display:inline;margin:0px;padding:0px;}
.gradient{background:#888;background:linear-gradient(to bottom, #444, #AAA);background-repeat:no-repeat;color:#000;}
.movie{padding-top:30px;}
.thumb{position:relative;alignment-adjust:central;float:left;width:100%;height:auto;max-height:370px;}
.thumbserie{position:relative;alignment-adjust:central;float:left;width:100%;height:auto;max-height:150px;}
.dimmer{position:absolute;top:0px;left:0px;height:735px;width:390px;padding:50px;background:#111;z-index:1000;}

dl {}
dt {clear:left;float:left;width:100px;text-align:right;font-weight: bold;}
dd {width:calc(100%-94px);margin: 0 0 0 100px;padding: 0 0 0 5px;color: white;}

/* == iPhone 5 and 5S == Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
.btn{font-size:2em;}
}

/* == iPhone 5 and 5S == Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
.btn{font-size:2em;}
}

/* == iPad 1 and 2 == Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
.btn{font-size:3.4em;}
}

/* == iPad 1 and 2 == Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
.btn{font-size:2.6em;}
}

/* == Galaxy S4 == Portrait */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
}

/* == Galaxy S4 == Landscape */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
}